@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kantumruy:400,700&display=swap");

@import url("./client/home.scss");
@import url("./client/header.scss");
@import url("./client/faq.scss");
@import url("./client/top5.scss");
@import url("./client/contact.scss");
@import url("./client/apply.scss");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Kantumruy", sans-serif;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

html {
  font-size: 0.7rem;
}

/* html.khmer {
  font-size: .4rem
} */

body {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover{
  background-size: cover;
}

.btn {
  cursor: pointer;

  transition: .2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 5px #aaa;
  opacity: 0.8;
}

.callout {
  position: relative;
  /* z-index: 500; */
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;

  margin-bottom: 3rem;
}

.callout.green {
  background-color: #009a3e;
}

.callout.yellow{
  background-color: #ffd300;
  color: #282828;
}

.yellow.callout::before{
  background-color: #ffd300;
}

.callout::before {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: 0rem;
  left: 0;

  width: 2.5rem;
  height: 2rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}

.small.green.callout::before {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: -.25rem;
  left: 0;

  width: 1.25rem;
  height: 1rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}

.small.yellow.callout::before {
  content: "";
  background-color: #ffd300;
  position: absolute;
  bottom: -.25rem;
  left: 0;

  width: 1.25rem;
  height: 1rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}


.green-gray.callout {
  background-color: #009a3e;
}

.sim {
  position: relative;

  margin-bottom: 3rem;
}

.sim.green {
  background-color: #009a3e;
}

.green.sim::before {
  content: "";
  width: calc(100% - 5rem);
  height: 3rem;
  background-color: #009a3e;

  position: absolute;
  bottom: -3rem;
  left: 0;
}

.green.sim::after {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: -1.5rem;
  right: 0rem;

  width: 5rem;
  height: 5rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: 0;
}

.list {
  position: relative;

  margin-left: 1rem;
}

.list::before{
  content: '-';
  width: 1rem;
  height: 1.2rem;

  position: absolute;
  top: 0;
  left: -1rem;
}

.mobile-none {
  display: none;
}

.alert {
  width: 100vw;
  height: 3rem;
  background-color: #009a3e;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;

  animation: alert 0.5s ease-in-out;
}

@keyframes alert {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 3rem;
  }
}



@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  .mobile-none {
    display: unset;
  }

  .callout {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  .callout.green-gray {
    background-color: #eaeaea;
  }

  .green-gray.callout::before {
    content: unset;
  }
}
