@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Kantumruy:400,700&display=swap);/* About SmartStart */

.slideshow-ctn {
  width: 100vw;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 120px);
}

.slideshow-ctn > .arrow {
  position: absolute;
  top: 40%;
  z-index: 1000;
  cursor: pointer;

  width: 4rem;
  height: 4rem;
  transition: .4s ease-in-out;
}


@-webkit-keyframes grow-shrink {
  0%{
    opacity: .8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc; */
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
    /* box-shadow: 0 0 10px #aaa; */
  }

  100%{
    opacity: 0.8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc;s */
  }
}


@keyframes grow-shrink {
  0%{
    opacity: .8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc; */
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
    /* box-shadow: 0 0 10px #aaa; */
  }

  100%{
    opacity: 0.8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc;s */
  }
}


.slideshow-ctn > .arrow:hover{
  transform: scale(1.1, 1.1);
}

.slideshow-ctn > .l-arrow {
  left: 10px;
}

.slideshow-ctn > .r-arrow {
  -webkit-animation: grow-shrink 1s ease-in-out infinite;
          animation: grow-shrink 1s ease-in-out infinite;
  right: 10px;
}

.slideshow-ctn > .index {
  position: absolute;
  bottom: 4rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: .4s ease-in-out;
}

.slideshow-ctn > .index > .item{
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  border: 1px solid #009a3e;

  transition: .4s ease-in-out;
}

.slideshow-ctn > .index > .item.active{
  background-color: #009a3e;
}

.slideshow {
  width: 400vw;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  transition: 0.6s ease-in-out;
}

.slideshow > .slide {
  width: 100vw;
  min-height: calc(100vh - 120px);

  /* height: 80vh; */
}

.slide {
  /* background-color: #fff; */
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide .image {
  /* background-color: #ccc; */
  width: 100%;
  height: 35vh;

  margin-bottom: 1rem;
}

.slide > .info .title {
  margin-bottom: 2rem;
}

.slide > .info .number {
  font-size: 5rem;
  font-weight: bold;
  color: #009a3e;

  margin-bottom: 2rem;
}

.slide > .info .description {
  font-size: 1rem;
  /* line-height: 1.2rem; */

  margin-bottom: 2rem;
}

.slide > .info > .btn-bar {
  width: 100%;
  line-height: 3rem;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.slide > .info > .btn-bar > .get-started {
  height: 3rem;
  background-color: #009a3e;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 0 2rem;
}


.slide > .info > .btn-bar > .watch-video > .icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  /* background-color: #eee; */
  font-size: 1rem;

  margin-right: 0.5rem;
}

.slide > .info > .btn-bar > .watch-video {
  height: 3rem;
  color: #009a3e;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 2rem;
}

.slide > .info > .btn-bar > .watch-video:hover{
  box-shadow: unset;
}

.slide > .info > .btn-bar > .watch-video > .label {
  height: 3rem;
}

/* What is at stake? */

.flip {
  width: 100vw;
  display: flex;
  flex-direction: column;

  padding: 0 4rem 2rem 4rem;
}

.flip > .head {
  margin-bottom: 3rem;
}

.flip > .head > .description {
  display: none;
}

.flip > .info {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;
}

.flip > .info > .item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 2rem;
}

.flip > .info > .item > .icon {
  flex-basis: 3rem;
  width: 3rem;
  height: 3rem;
  /* background-color: #eee; */

  margin-right: 1rem;
}

.flip > .info > .item > .content {
  flex-basis: calc(100% - 4rem);
  color: #009a3e;
}

.flip > .info > .description {
  width: 100%;
  margin-bottom: 3rem;
}

.flip > .info > .notice {
  color: #009a3e;
  font-weight: bold;
}

/* The Process */
.process > .info {
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  /* height: 500px; */
}

.process > .info > .item {
  width: 27.5%;
  flex-direction: column;

  margin: 0;
}

.process > .info > .item > .icon {
  width: 4rem;
  height: 4rem;
  flex-basis: 4rem;

  margin: 0;
  margin-bottom: 2rem;
}

.process > .info > .item > .title {
  color: #009a3e;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;

  margin-bottom: 2rem;
}

.process > .info > .item > .content {
  flex-basis: unset;
  flex-grow: 1;
  text-align: center;

  margin-bottom: 2rem;
}

.process > .info > .item > .more {
  background-color: #009a3e;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
}

.process > .info > .cards{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  width: 100vw;
  height: 100vh;
  padding: 0 4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.process > .info > .cards::before{
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: #000;
  opacity: 0.3;
}



.process > .info > .cards > .card{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;

  z-index: 5000;
  position: relative;
  transition: .4s ease-in-out;
}

.process > .info > .cards > .card > .close {
  position: absolute;
  top: 0;
  right: -3rem;

  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #009a3e;
  text-align: center;
  /* background-color: #fff; */
  background-image: url('/images/Cross-Green.png');

  cursor: pointer;
  transition: .4s ease-in-out;
}

.process > .info > .cards > .card > .close:hover{
  background-image: url('/images/Cross-Red.png');

}

.process > .info > .cards > .card > .close:hover {
  background-color: #c3271a;
  color: #fff;
}

.process > .info > .cards > .card > .section {
  display: flex;
  flex-direction: row;

}

.process > .info > .cards > .card > .section > .image{
  width: 10rem;
  height: 10rem;
  flex-basis: 10rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
}



.process > .info > .cards > .card > .section > .info{
  flex-basis: calc(100% - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.process > .info > .cards > .card > .section > .info > .number{
  font-size: 1.25rem;
  width: 2.5rem;
  padding-left: 1rem;

  margin-bottom: 1.25rem;
}

.process > .info > .cards > .card > .section > .info > .content{
  font-size: .8rem;
}



/* Who can Apply? */
.who-can > .info {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.who-can > .info > .item {
  width: calc(50% - 1rem);
}

/* Are you Ready? */

.ready-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #eee;

  margin-bottom: 2rem;
}

.ready-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.ready-banner > .banner > .title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 2rem;
}

.ready-banner > .banner > .description {
  font-weight: bold;
  margin-bottom: 1rem;
}

.ready-banner > .banner > .apply-now {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #009a3e;
  font-weight: bold;

  z-index: 1000;
}

/* Sponsors */
.sponsor {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor > .title {
  width: unset;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.sponsor > .content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 -2rem;

  margin-bottom: 5rem;
}

.sponsor > .content > .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor > .content > .section > .title {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  margin-bottom: 0.5rem;
}

.sponsor > .content > .section > .logos {
  display: flex;
  flex-direction: row;
}

.sponsor > .content > .section .logo {
  width: 3rem;
  height: 3rem;
}

.sponsor > .content > .section + .section {
  margin-left: 1rem;
}

.sponsor > .content > .section > .logos >.logo + .logo {
  margin-left: .5rem;
}

.sponsor > .follow {
  font-weight: bold;
  margin-bottom: 1rem;
}

.sponsor > .icons {
  display: flex;
  flex-direction: row;
}

.sponsor > .icons > .icon {
  width: 2rem;
  height: 2rem;
  /* background-color: #eee; */

  margin-right: 0.25rem;
}

.sponsor > .icons > .icon:hover{
  box-shadow: unset;
}

.sponsor > .content > .section .logo.CBRD {
  width: 8.5rem;
}

.sponsor > .content > .section .logo.smart {
  width: 4.5rem;
}


@media screen and (min-width: 768px) {
  /* About SmartStart */
  .slideshow-ctn{
    min-height: calc(100vh - 60px);
  }

  .slideshow > .about{
    min-height: calc(100vh - 60px);
  }

  .slide {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);

    padding: 0 10vw;
  }

  .slide > .info {
    flex-basis: 45%;
  }

  .slide > .info > .number {
    font-size: 10rem;

    margin-bottom: 2rem;
  }

  .slide > .info > .title {
    font-size: 2rem;
    padding: 1rem 2rem;

    margin-bottom: 3rem;
  }

  .slide > .image {
    flex-basis: 45%;

    height: 60vh;
  }

  /* What is at stake? */

  .flip {
    padding: 0 10vw;
    padding-bottom: 5vw;

    flex-direction: row;
    position: relative;
  }

  .flip > .head {
    flex-basis: 40%;
    padding: 2rem;

    margin-right: 2rem;
  }

  .flip > .head > .title {
    color: #009a3e;
    font-size: 2.5rem;

    margin-bottom: 2rem;
  }

  .flip > .head > .description {
    display: unset;
    color: #000;
    font-size: 1rem;
  }

  .flip > .info {
    flex-basis: 60%;
  }

  /* The Process */
  .process > .info > .cards {
    padding: 5vw 10vw;
  }

  .process > .info > .cards > .card {
    padding: 0;

    flex-direction: row;
    justify-content: center;
  }

  .process > .info > .cards > .card > .section{
    flex-direction: column;
    width: 35%;
  }

  .process > .info > .cards > .card > .section > .image{
    width: calc(100% + .5px);
    padding-bottom: 100%;

    margin: 0;
  }

  .process > .info > .cards > .card > .section > .info{
    padding: 2rem;
  }

  .process > .info > .cards > .card > .section > .info > .number{
    padding-left: 1.5rem;
  }

  /* Who can Apply? */

  /* Are you Ready? */
  .ready-banner {
    width: 80vw;
    margin: 0 10vw;
    margin-bottom: 5vw;
  }

  .ready-banner > .banner {
    width: 30%;
  }

  /* Sponsor */
  .sponsor {
    padding: 0 10vw;
    padding-bottom: 2rem;
  }

  .sponsor > .title {
    margin: 0;
    font-size: 1.5rem;

    margin-bottom: 5rem;
  }

  .sponsor > .content > .section > .title {
    font-size: 1rem;
  }

  .sponsor > .content > .section .logo {
    width: 6rem;
    height: 6rem;

  }

  .sponsor > .content > .section .logo.CBRD {
    width: 17rem;
  }

  .sponsor > .content > .section .logo.smart {
    width: 9rem;
  }
}
.navbar {
  width: 100vw;
  z-index: 3000;
  background-color: #fff;
}

.spacer {
  display: none;
}

.navbar > .logo {
  width: 100%;
  /* flex-basis: 50px;   */
  height: 80px;
  padding: 2rem;
  background-origin: content-box;

  background-color: #fff;
  z-index: 1000;
}

.navbar > .menu-web {
  display: none;
}

.khmer .menu-mobile {
  font-size: 0.8rem;
}

.menu-mobile {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 40px;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px #ccc;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3000;

  font-size: 0.9rem;

  /* overflow: hidden; */
}

.menu-mobile > .item {
  padding: 0 1rem;
  line-height: 40px;
  position: relative;
  color: #009a3e;

  transition: 0.4s ease-in-out;
}

.menu-mobile > .item:hover {
  /* background-color: #009a3e;
  color: #fff; */
  box-shadow: unset;
  color: #009a3e;
  font-weight: bold;
  transform: scale(1.1, 1.1);
}

.menu-mobile > .language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
  height: 40px;
  background-color: #fff;

  position: relative;
  transition: 0.4s ease-in-out;
}

.menu-mobile > .language.active {
  color: #fff;
  background-color: #009a3e;
}

.menu-mobile > .language {
  color: #009a3e;
}
.menu-mobile > .language > .label {
  font-size: 0.6rem;
  color: #888;

  margin-bottom: 0.25rem;
}

.menu-mobile > .language.active > .label {
  color: #fff;
}

.menu-mobile > .language > .current {
  font-size: 0.6rem;
}

.menu-mobile > .language > .dropdown {
  position: absolute;

  color: #fff;
  width: 100%;
  top: 0;
  right: 0;
  height: 100px;
  max-height: 0;
  z-index: -5000;
  padding-top: 40px;
  overflow: hidden;

  transition: 0.4s ease-in-out;
}

.menu-mobile > .language.active > .dropdown {
  transform: translateY(0px);
  max-height: 100px;
}

.menu-mobile > .language > .dropdown > .item {
  width: 100%;
  line-height: 30px;
  text-align: center;

  background-color: #009a3e;
  transition: 0.2s ease-in-out;
}

.menu-mobile > .language > .dropdown > .item:hover {
  background-color: #00a743;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    box-shadow: 0 1px 1px #ccc;

    position: fixed;
  }

  .spacer {
    display: block;
    height: 60px;
    width: 100vw;
  }

  .navbar > .logo {
    flex-basis: 30%;
    height: 100%;

    padding: 0.5rem;
    padding-left: 10vw;
    background-position: 0;
  }

  .navbar > .menu-web {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    line-height: 60px;
  }

  .menu-web > .icon {
    width: 5rem;
    height: 30px;
  }

  .menu-web > .icon:hover {
    /* background-color: #009a3e;
    color: #fff; */
    box-shadow: unset;
  }

  .navbar > .menu-web {
    flex-basis: 70%;
    display: flex;
    height: 100%;
    flex-direction: row;
    padding-right: 2rem;

    background-color: #fff;
  }

  .navbar > .menu-web > .item {
    padding: 0 1.5rem;
    color: #009a3e;

    height: 60px;
  }

  .navbar > .menu-web > .item:hover {
    /* background-color: #009a3e;
    color: #fff; */
    box-shadow: unset;
    color: #009a3e;
    font-weight: bold;
    transform: scale(1.1, 1.1);
  }

  .menu-mobile {
    display: none;
  }

  .menu-web > .language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
    height: 60px;
    color: #009a3e;

    background-color: #fff;

    position: relative;
    transition: 0.4s ease-in-out;
  }

  .menu-web > .language:hover {
    color: #fff;
    background-color: #009a3e;
  }

  .menu-web > .language > p {
    line-height: 15px;
  }

  .menu-web > .language > .label {
    font-size: 0.4rem;
    color: #888;

    margin-bottom: 0.25rem;
  }

  .menu-web > .language:hover > .label {
    color: #fff;
  }

  .menu-web > .language > .current {
    font-size: 0.8rem;
    /* font-size: 0.4rem; */
  }

  .menu-web > .language > .dropdown {
    position: absolute;

    color: #fff;
    width: 100%;
    height: 140px;
    max-height: 0;
    top: 0;
    right: 0;
    z-index: -5000;
    padding-top: 60px;
    overflow: hidden;

    transition: 0.4s ease-in-out;
  }

  .menu-web > .language:hover > .dropdown {
    transform: translateY(0px);
    max-height: 140px;
  }

  .menu-web > .language > .dropdown > .item {
    width: 100%;
    font-size: 0.8rem;
    line-height: 40px;
    text-align: center;

    background-color: #009a3e;
    transition: 0.2s ease-in-out;
  }

  .menu-web > .language > .dropdown > .item:hover {
    background-color: #00a743;
  }
}
.faq-banner{
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-position: 20vw;

  margin-bottom: 2rem;
}

.faq-banner > .banner  {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.faq-banner > .banner > .title{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.faq {
  width: 100vw;
  padding: 0 4rem;
}

.faq > .program-title{
  color: #009a3e;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.faq > .item{
  line-height: 1.2rem;

  margin-bottom: 2rem;
}

.khmer .faq > .item {
  line-height: 2rem;
}

.faq > .item > .question {
  color: #009a3e;
  font-weight: bold;
  line-height: 1.5rem;

  margin-bottom: 1rem;
}

.faq > .item > .answer {
  line-height: 1.5rem;

  margin-left: 1rem;
}

.faq > .item > .answer > .highlight {
  color: #009a3e;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  transition: .4s ease-in-out;
}

.faq > .item > .answer > .highlight:hover{
  text-shadow: 0 0 .5px #aaa;
}

.list {
  position: relative;

  margin-left: 1rem;
}

.list::before{
  content: '-';
  width: 1rem;
  height: 1.2rem;

  position: absolute;
  top: 0;
  left: -1rem;
}

.faq > .item > .two-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.faq > .item > .two-column > .half {
  width: 45%;
}

@media screen and (min-width: 768px) {

  .faq-banner > .banner {
    width: 35%;
    height: 25vh;
  }

  .faq-banner > .banner > .title {
    font-size: 2rem;
  }

  .faq{
    padding: 0 10vw;
    padding-bottom: 5vw;
  }
}
.top5-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  background-position: 10vw;

  margin-bottom: 2rem;
}

.top5-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;

  padding: 2rem 4rem;
  padding-bottom: 0;
}

.top5-banner > .banner > .title {
  text-align: left;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.top5 {
  width: 100vw;
  /* height: calc(80vh - 180px - 5rem); */

  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.top5 > .title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.top5 > .title-section > .title {
  font-size: 2rem;
  color: #009a3e;
}

.top5 > .title-section > .buttons {
  display: flex;
  flex-direction: row;
}

.top5 > .title-section > .buttons > .cycle {
  width: 7rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  line-height: 2rem;
  border-radius: 1.5rem;
  border: 1px solid #009a3e;
  color: #009a3e;
  text-align: center;
  font-weight: bold;
  transition: 0.4s ease-in-out;

  margin-left: 0.5rem;
}

.top5 > .title-section > .buttons > .cycle.active {
  color: #fff;
  background-color: #009a3e;
}

.top5 > .winner-ctn {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.top5 > .winner-ctn > .winners {
  display: grid;
  grid-template-columns: 80% 80% 80% 80% 80%;
  grid-gap: 2rem;

  width: 100%;
  overflow: scroll;

  margin-bottom: 4rem;
}

.top5 > .winner-ctn > .winners > .winner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .winners > .winner > .logo {
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;

  transition: 0.4s ease-in-out;

  margin-bottom: 2rem;
}

.top5 > .winner-ctn > .winners > .winner > .name {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;

  margin-bottom: 2rem;
}

.top5 > .winner-ctn > .pictures {
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .pictures > .item {
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .pictures > .item > .image {
  width: 100%;
  padding-bottom: 55%;
  background-color: #eee;

  margin-bottom: 1rem;
}

.top5 > .winner-ctn > .pictures > .item > .label {
  font-size: 1.5rem;

  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .top5-banner {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    background-position: 20vw;

    margin-bottom: 2rem;
  }

  .top5-banner > .banner {
    width: 35%;
    /* width: 50%; */
    background: #009a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;

    padding: 2rem 10vw;
    padding-bottom: 0;
  }

  .top5-banner > .banner > .title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .top5-banner > .banner > .title > .subtitle {
    font-size: 1rem;
    color: #000;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .top5 {
    /* height: calc(75vh - 120px - 5rem); */
    padding: 0 10vw;
    padding-bottom: 5vw;
  }

  .top5 > .winner-ctn > .winners {
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 2.5%;

    overflow: hidden;
  }
}
.contact-banner {
  width: 100vw;
  flex-direction: row;
  background-color: #eee;
  background-position: 10vw;
  display: none;

  /* margin-bottom: 2rem; */
}

.contact-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;

  padding: 2rem 4rem;
  padding-bottom: 0;
}

.contact-banner > .banner > .title {
  text-align: left;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.contact-banner > .banner > .title > .subtitle {
  font-size: 1rem;
  color: #000;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contact {
  width: 100vw;
  /* height: calc(80vh - 180px - 5rem); */

  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.contact-info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.contact > .contact-info > .title {
  margin-bottom: 3rem;
}

.contact > .contact-info > .info {
  display: flex;
  flex-direction: row;

  margin-bottom: 2rem;
}

.contact > .contact-info > .info > .icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-basis: 2.5rem;
  /* background-color: #eee;s */

  margin-right: 1.5rem;
}

.contact > .contact-info > .info > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact > .contact-info > .info > .content > .title {
  color: #009a3e;
  font-weight: bold;
  font-size: 1rem;

  margin-bottom: 0.25rem;
}

.contact > .contact-info > .info > .content > .subtitle {
  font-size: 0.8rem;
}

.contact > .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact > .form > .input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1.5px solid #009a3e;
  color: #666;
  padding: 0 1rem;
  line-height: 2.5rem;

  margin-bottom: 1rem;
}

.contact > .form > .input:focus {
  outline: unset;
}

.contact > .form > .input.area {
  height: 12rem;
}

.contact > .form > .submit {
  background-color: #009a3e;
  /* height: 2.5rem; */
  width: 8rem;
  padding: 1rem 2rem;
  color: #fff;
  /* line-height: 2.5rem; */
  text-align: center;

  margin-bottom: 2rem;
}

.contact > .form > .submit:active {
  transform: scale(1.1);
}

.contact > .map-ctn {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 2rem;
}

.contact > .map-ctn > .map {
  width: 100%;
  height: 15rem;

  border: 1px solid #888;
}

.contact > .map-ctn > .map > .frame {
  width: 100%;
  height: 100%;
}

.contact > .social {
  display: flex;
  flex-direction: column;
}

.contact > .social > .follow {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact > .social > .icons {
  display: flex;
  flex-direction: row;
}

.contact > .social > .icons > .icon {
  width: 2rem;
  height: 2rem;

  margin-right: 0.25rem;
}

.contact > .social > .icons > .icon:hover {
  box-shadow: unset;
}

@media screen and (min-width: 768px) {
  .contact-banner {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    background-position: 25vw -20px;

    /* margin-bottom: 2rem; */
  }

  .contact-banner > .banner {
    width: 35%;

    /* width: 50%; */
    background: #009a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;

    padding: 2rem 10vw;
    padding-bottom: 0;
  }

  .contact-banner > .banner > .title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .contact-banner > .banner > .title > .subtitle {
    font-size: 1rem;
    color: #000;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 15rem 15rem 7rem;
    grid-template-areas:
      "info form"
      "map form"
      "social form";
    grid-gap: 5%;

    width: 80vw;
    /* height: calc(75vh - 120px - 3rem);s */
    margin: 5vw 10vw;
    margin-top: 2rem;
    padding: 0;
  }

  .contact > .contact-info {
    grid-area: info;
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .contact > .contact-info > .title {
    display: none;
  }

  .contact > .contact-info > .info {
    /* width: 30%; */
    align-items: center;
    /* justify-content: center; */

    /* margin-bottom: 10rem; */
  }

  .contact > .form {
    grid-area: form;
  }

  .contact > .form > .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact > .form > .submit {
    font-size: 1rem;
  }

  .contact > .map-ctn {
    grid-area: map;
    width: 100%;
    height: 100%;

    margin-bottom: 0;
  }

  .contact > .map-ctn > .title {
    display: none;
  }

  /* .contact > .map-ctn > .map {
    padding: 1rem;
    background-color: #eaeaea;
    border: unset;

    display: flex;
    flex-direction: row;

  }

  .contact > .map-ctn > .map > .frame{
    margin-right: 1rem;
    border: 1px solid #888;
  } */

  .contact > .social {
    grid-area: social;
    /* justify-content: flex-end; */
  }
}
.apply-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-position: 20vw;

  margin-bottom: 2rem;
}

.apply-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.apply-banner > .banner > .title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.apply {
  height: calc(80vh - 5rem - 180px);
  padding: 2rem 4rem;
  /* padding-top: 0; */

  display: flex;
  flex-direction: column;
}

.apply > .content {
  display: flex;
  flex-direction: column;
}

.apply > .content > .title {
  font-weight: bold;
  color: #009a3e;
  font-size: 1.2rem;

  margin-bottom: 2rem;
}

.apply > .content > .text {
  font-size: 1rem;

  margin-bottom: 2rem;
}

.apply > .content > .text > .highlight {
  color: #009a3e;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  transition: 0.4s ease-in-out;
}

.apply > .image {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .apply-banner {
    background-position-y: -180px;
  }
  .apply-banner > .banner {
    width: 35%;
    height: 25vh;
  }

  .apply-banner > .banner > .title {
    font-size: 2rem;
  }

  .apply {
    height: calc(75vh - 5rem - 120px);
    flex-direction: row;
    align-items: center;

    padding: 5vw 10vw;
    padding-top: 0;
  }

  .apply > .image {
    flex-basis: 45%;
    height: 100%;
    background-size: contain;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Kantumruy", sans-serif;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

html {
  font-size: 0.7rem;
}

/* html.khmer {
  font-size: .4rem
} */

body {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover {
  background-size: cover;
}

.btn {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 5px #aaa;
  opacity: 0.8;
}

.callout {
  position: relative;
  /* z-index: 500; */
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  margin-bottom: 3rem;
}

.callout.green {
  background-color: #009a3e;
}

.callout.yellow {
  background-color: #ffd300;
  color: #282828;
}

.yellow.callout::before {
  background-color: #ffd300;
}

.callout::before {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 2.5rem;
  height: 2rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}

.small.green.callout::before {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 1.25rem;
  height: 1rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}

.small.yellow.callout::before {
  content: "";
  background-color: #ffd300;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 1.25rem;
  height: 1rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -1000;
}

.green-gray.callout {
  background-color: #009a3e;
}

.sim {
  position: relative;
  margin-bottom: 3rem;
}

.sim.green {
  background-color: #009a3e;
}

.green.sim::before {
  content: "";
  width: calc(100% - 5rem);
  height: 3rem;
  background-color: #009a3e;
  position: absolute;
  bottom: -3rem;
  left: 0;
}

.green.sim::after {
  content: "";
  background-color: #009a3e;
  position: absolute;
  bottom: -1.5rem;
  right: 0rem;
  width: 5rem;
  height: 5rem;
  transform: scale(-1, 1) skewY(30deg);
  z-index: 0;
}

.list {
  position: relative;
  margin-left: 1rem;
}

.list::before {
  content: "-";
  width: 1rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  left: -1rem;
}

.mobile-none {
  display: none;
}

.alert {
  width: 100vw;
  height: 3rem;
  background-color: #009a3e;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  -webkit-animation: alert 0.5s ease-in-out;
          animation: alert 0.5s ease-in-out;
}

@-webkit-keyframes alert {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 3rem;
  }
}

@keyframes alert {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 3rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  .mobile-none {
    display: unset;
  }

  .callout {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }

  .callout.green-gray {
    background-color: #eaeaea;
  }

  .green-gray.callout::before {
    content: unset;
  }
}

