.apply-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-position: 20vw;

  margin-bottom: 2rem;
}

.apply-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.apply-banner > .banner > .title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.apply {
  height: calc(80vh - 5rem - 180px);
  padding: 2rem 4rem;
  /* padding-top: 0; */

  display: flex;
  flex-direction: column;
}

.apply > .content {
  display: flex;
  flex-direction: column;
}

.apply > .content > .title {
  font-weight: bold;
  color: #009a3e;
  font-size: 1.2rem;

  margin-bottom: 2rem;
}

.apply > .content > .text {
  font-size: 1rem;

  margin-bottom: 2rem;
}

.apply > .content > .text > .highlight {
  color: #009a3e;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  transition: 0.4s ease-in-out;
}

.apply > .image {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .apply-banner {
    background-position-y: -180px;
  }
  .apply-banner > .banner {
    width: 35%;
    height: 25vh;
  }

  .apply-banner > .banner > .title {
    font-size: 2rem;
  }

  .apply {
    height: calc(75vh - 5rem - 120px);
    flex-direction: row;
    align-items: center;

    padding: 5vw 10vw;
    padding-top: 0;
  }

  .apply > .image {
    flex-basis: 45%;
    height: 100%;
    background-size: contain;
  }
}
