.contact-banner {
  width: 100vw;
  flex-direction: row;
  background-color: #eee;
  background-position: 10vw;
  display: none;

  /* margin-bottom: 2rem; */
}

.contact-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;

  padding: 2rem 4rem;
  padding-bottom: 0;
}

.contact-banner > .banner > .title {
  text-align: left;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.contact-banner > .banner > .title > .subtitle {
  font-size: 1rem;
  color: #000;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contact {
  width: 100vw;
  /* height: calc(80vh - 180px - 5rem); */

  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.contact-info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.contact > .contact-info > .title {
  margin-bottom: 3rem;
}

.contact > .contact-info > .info {
  display: flex;
  flex-direction: row;

  margin-bottom: 2rem;
}

.contact > .contact-info > .info > .icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-basis: 2.5rem;
  /* background-color: #eee;s */

  margin-right: 1.5rem;
}

.contact > .contact-info > .info > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact > .contact-info > .info > .content > .title {
  color: #009a3e;
  font-weight: bold;
  font-size: 1rem;

  margin-bottom: 0.25rem;
}

.contact > .contact-info > .info > .content > .subtitle {
  font-size: 0.8rem;
}

.contact > .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact > .form > .input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1.5px solid #009a3e;
  color: #666;
  padding: 0 1rem;
  line-height: 2.5rem;

  margin-bottom: 1rem;
}

.contact > .form > .input:focus {
  outline: unset;
}

.contact > .form > .input.area {
  height: 12rem;
}

.contact > .form > .submit {
  background-color: #009a3e;
  /* height: 2.5rem; */
  width: 8rem;
  padding: 1rem 2rem;
  color: #fff;
  /* line-height: 2.5rem; */
  text-align: center;

  margin-bottom: 2rem;
}

.contact > .form > .submit:active {
  transform: scale(1.1);
}

.contact > .map-ctn {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 2rem;
}

.contact > .map-ctn > .map {
  width: 100%;
  height: 15rem;

  border: 1px solid #888;
}

.contact > .map-ctn > .map > .frame {
  width: 100%;
  height: 100%;
}

.contact > .social {
  display: flex;
  flex-direction: column;
}

.contact > .social > .follow {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact > .social > .icons {
  display: flex;
  flex-direction: row;
}

.contact > .social > .icons > .icon {
  width: 2rem;
  height: 2rem;

  margin-right: 0.25rem;
}

.contact > .social > .icons > .icon:hover {
  box-shadow: unset;
}

@media screen and (min-width: 768px) {
  .contact-banner {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    background-position: 25vw -20px;

    /* margin-bottom: 2rem; */
  }

  .contact-banner > .banner {
    width: 35%;

    /* width: 50%; */
    background: #009a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;

    padding: 2rem 10vw;
    padding-bottom: 0;
  }

  .contact-banner > .banner > .title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .contact-banner > .banner > .title > .subtitle {
    font-size: 1rem;
    color: #000;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 15rem 15rem 7rem;
    grid-template-areas:
      "info form"
      "map form"
      "social form";
    grid-gap: 5%;

    width: 80vw;
    /* height: calc(75vh - 120px - 3rem);s */
    margin: 5vw 10vw;
    margin-top: 2rem;
    padding: 0;
  }

  .contact > .contact-info {
    grid-area: info;
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .contact > .contact-info > .title {
    display: none;
  }

  .contact > .contact-info > .info {
    /* width: 30%; */
    align-items: center;
    /* justify-content: center; */

    /* margin-bottom: 10rem; */
  }

  .contact > .form {
    grid-area: form;
  }

  .contact > .form > .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact > .form > .submit {
    font-size: 1rem;
  }

  .contact > .map-ctn {
    grid-area: map;
    width: 100%;
    height: 100%;

    margin-bottom: 0;
  }

  .contact > .map-ctn > .title {
    display: none;
  }

  /* .contact > .map-ctn > .map {
    padding: 1rem;
    background-color: #eaeaea;
    border: unset;

    display: flex;
    flex-direction: row;

  }

  .contact > .map-ctn > .map > .frame{
    margin-right: 1rem;
    border: 1px solid #888;
  } */

  .contact > .social {
    grid-area: social;
    /* justify-content: flex-end; */
  }
}
