.faq-banner{
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-position: 20vw;

  margin-bottom: 2rem;
}

.faq-banner > .banner  {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.faq-banner > .banner > .title{
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.faq {
  width: 100vw;
  padding: 0 4rem;
}

.faq > .program-title{
  color: #009a3e;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.faq > .item{
  line-height: 1.2rem;

  margin-bottom: 2rem;
}

.khmer .faq > .item {
  line-height: 2rem;
}

.faq > .item > .question {
  color: #009a3e;
  font-weight: bold;
  line-height: 1.5rem;

  margin-bottom: 1rem;
}

.faq > .item > .answer {
  line-height: 1.5rem;

  margin-left: 1rem;
}

.faq > .item > .answer > .highlight {
  color: #009a3e;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  transition: .4s ease-in-out;
}

.faq > .item > .answer > .highlight:hover{
  text-shadow: 0 0 .5px #aaa;
}

.list {
  position: relative;

  margin-left: 1rem;
}

.list::before{
  content: '-';
  width: 1rem;
  height: 1.2rem;

  position: absolute;
  top: 0;
  left: -1rem;
}

.faq > .item > .two-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.faq > .item > .two-column > .half {
  width: 45%;
}

@media screen and (min-width: 768px) {

  .faq-banner > .banner {
    width: 35%;
    height: 25vh;
  }

  .faq-banner > .banner > .title {
    font-size: 2rem;
  }

  .faq{
    padding: 0 10vw;
    padding-bottom: 5vw;
  }
}
