.navbar {
  width: 100vw;
  z-index: 3000;
  background-color: #fff;
}

.spacer {
  display: none;
}

.navbar > .logo {
  width: 100%;
  /* flex-basis: 50px;   */
  height: 80px;
  padding: 2rem;
  background-origin: content-box;

  background-color: #fff;
  z-index: 1000;
}

.navbar > .menu-web {
  display: none;
}

.khmer .menu-mobile {
  font-size: 0.8rem;
}

.menu-mobile {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 40px;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px #ccc;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3000;

  font-size: 0.9rem;

  /* overflow: hidden; */
}

.menu-mobile > .item {
  padding: 0 1rem;
  line-height: 40px;
  position: relative;
  color: #009a3e;

  transition: 0.4s ease-in-out;
}

.menu-mobile > .item:hover {
  /* background-color: #009a3e;
  color: #fff; */
  box-shadow: unset;
  color: #009a3e;
  font-weight: bold;
  transform: scale(1.1, 1.1);
}

.menu-mobile > .language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
  height: 40px;
  background-color: #fff;

  position: relative;
  transition: 0.4s ease-in-out;
}

.menu-mobile > .language.active {
  color: #fff;
  background-color: #009a3e;
}

.menu-mobile > .language {
  color: #009a3e;
}
.menu-mobile > .language > .label {
  font-size: 0.6rem;
  color: #888;

  margin-bottom: 0.25rem;
}

.menu-mobile > .language.active > .label {
  color: #fff;
}

.menu-mobile > .language > .current {
  font-size: 0.6rem;
}

.menu-mobile > .language > .dropdown {
  position: absolute;

  color: #fff;
  width: 100%;
  top: 0;
  right: 0;
  height: 100px;
  max-height: 0;
  z-index: -5000;
  padding-top: 40px;
  overflow: hidden;

  transition: 0.4s ease-in-out;
}

.menu-mobile > .language.active > .dropdown {
  transform: translateY(0px);
  max-height: 100px;
}

.menu-mobile > .language > .dropdown > .item {
  width: 100%;
  line-height: 30px;
  text-align: center;

  background-color: #009a3e;
  transition: 0.2s ease-in-out;
}

.menu-mobile > .language > .dropdown > .item:hover {
  background-color: #00a743;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    box-shadow: 0 1px 1px #ccc;

    position: fixed;
  }

  .spacer {
    display: block;
    height: 60px;
    width: 100vw;
  }

  .navbar > .logo {
    flex-basis: 30%;
    height: 100%;

    padding: 0.5rem;
    padding-left: 10vw;
    background-position: 0;
  }

  .navbar > .menu-web {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    line-height: 60px;
  }

  .menu-web > .icon {
    width: 5rem;
    height: 30px;
  }

  .menu-web > .icon:hover {
    /* background-color: #009a3e;
    color: #fff; */
    box-shadow: unset;
  }

  .navbar > .menu-web {
    flex-basis: 70%;
    display: flex;
    height: 100%;
    flex-direction: row;
    padding-right: 2rem;

    background-color: #fff;
  }

  .navbar > .menu-web > .item {
    padding: 0 1.5rem;
    color: #009a3e;

    height: 60px;
  }

  .navbar > .menu-web > .item:hover {
    /* background-color: #009a3e;
    color: #fff; */
    box-shadow: unset;
    color: #009a3e;
    font-weight: bold;
    transform: scale(1.1, 1.1);
  }

  .menu-mobile {
    display: none;
  }

  .menu-web > .language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
    height: 60px;
    color: #009a3e;

    background-color: #fff;

    position: relative;
    transition: 0.4s ease-in-out;
  }

  .menu-web > .language:hover {
    color: #fff;
    background-color: #009a3e;
  }

  .menu-web > .language > p {
    line-height: 15px;
  }

  .menu-web > .language > .label {
    font-size: 0.4rem;
    color: #888;

    margin-bottom: 0.25rem;
  }

  .menu-web > .language:hover > .label {
    color: #fff;
  }

  .menu-web > .language > .current {
    font-size: 0.8rem;
    /* font-size: 0.4rem; */
  }

  .menu-web > .language > .dropdown {
    position: absolute;

    color: #fff;
    width: 100%;
    height: 140px;
    max-height: 0;
    top: 0;
    right: 0;
    z-index: -5000;
    padding-top: 60px;
    overflow: hidden;

    transition: 0.4s ease-in-out;
  }

  .menu-web > .language:hover > .dropdown {
    transform: translateY(0px);
    max-height: 140px;
  }

  .menu-web > .language > .dropdown > .item {
    width: 100%;
    font-size: 0.8rem;
    line-height: 40px;
    text-align: center;

    background-color: #009a3e;
    transition: 0.2s ease-in-out;
  }

  .menu-web > .language > .dropdown > .item:hover {
    background-color: #00a743;
  }
}
