/* About SmartStart */

.slideshow-ctn {
  width: 100vw;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 120px);
}

.slideshow-ctn > .arrow {
  position: absolute;
  top: 40%;
  z-index: 1000;
  cursor: pointer;

  width: 4rem;
  height: 4rem;
  transition: .4s ease-in-out;
}


@keyframes grow-shrink {
  0%{
    opacity: .8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc; */
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
    /* box-shadow: 0 0 10px #aaa; */
  }

  100%{
    opacity: 0.8;
    transform: scale(1);
    /* box-shadow: 0 0 5px #ccc;s */
  }
}


.slideshow-ctn > .arrow:hover{
  transform: scale(1.1, 1.1);
}

.slideshow-ctn > .l-arrow {
  left: 10px;
}

.slideshow-ctn > .r-arrow {
  animation: grow-shrink 1s ease-in-out infinite;
  right: 10px;
}

.slideshow-ctn > .index {
  position: absolute;
  bottom: 4rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: .4s ease-in-out;
}

.slideshow-ctn > .index > .item{
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  border: 1px solid #009a3e;

  transition: .4s ease-in-out;
}

.slideshow-ctn > .index > .item.active{
  background-color: #009a3e;
}

.slideshow {
  width: 400vw;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  transition: 0.6s ease-in-out;
}

.slideshow > .slide {
  width: 100vw;
  min-height: calc(100vh - 120px);

  /* height: 80vh; */
}

.slide {
  /* background-color: #fff; */
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide .image {
  /* background-color: #ccc; */
  width: 100%;
  height: 35vh;

  margin-bottom: 1rem;
}

.slide > .info .title {
  margin-bottom: 2rem;
}

.slide > .info .number {
  font-size: 5rem;
  font-weight: bold;
  color: #009a3e;

  margin-bottom: 2rem;
}

.slide > .info .description {
  font-size: 1rem;
  /* line-height: 1.2rem; */

  margin-bottom: 2rem;
}

.slide > .info > .btn-bar {
  width: 100%;
  line-height: 3rem;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.slide > .info > .btn-bar > .get-started {
  height: 3rem;
  background-color: #009a3e;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 0 2rem;
}


.slide > .info > .btn-bar > .watch-video > .icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  /* background-color: #eee; */
  font-size: 1rem;

  margin-right: 0.5rem;
}

.slide > .info > .btn-bar > .watch-video {
  height: 3rem;
  color: #009a3e;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 2rem;
}

.slide > .info > .btn-bar > .watch-video:hover{
  box-shadow: unset;
}

.slide > .info > .btn-bar > .watch-video > .label {
  height: 3rem;
}

/* What is at stake? */

.flip {
  width: 100vw;
  display: flex;
  flex-direction: column;

  padding: 0 4rem 2rem 4rem;
}

.flip > .head {
  margin-bottom: 3rem;
}

.flip > .head > .description {
  display: none;
}

.flip > .info {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;
}

.flip > .info > .item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 2rem;
}

.flip > .info > .item > .icon {
  flex-basis: 3rem;
  width: 3rem;
  height: 3rem;
  /* background-color: #eee; */

  margin-right: 1rem;
}

.flip > .info > .item > .content {
  flex-basis: calc(100% - 4rem);
  color: #009a3e;
}

.flip > .info > .description {
  width: 100%;
  margin-bottom: 3rem;
}

.flip > .info > .notice {
  color: #009a3e;
  font-weight: bold;
}

/* The Process */
.process > .info {
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  /* height: 500px; */
}

.process > .info > .item {
  width: 27.5%;
  flex-direction: column;

  margin: 0;
}

.process > .info > .item > .icon {
  width: 4rem;
  height: 4rem;
  flex-basis: 4rem;

  margin: 0;
  margin-bottom: 2rem;
}

.process > .info > .item > .title {
  color: #009a3e;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;

  margin-bottom: 2rem;
}

.process > .info > .item > .content {
  flex-basis: unset;
  flex-grow: 1;
  text-align: center;

  margin-bottom: 2rem;
}

.process > .info > .item > .more {
  background-color: #009a3e;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
}

.process > .info > .cards{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  width: 100vw;
  height: 100vh;
  padding: 0 4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.process > .info > .cards::before{
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: #000;
  opacity: 0.3;
}



.process > .info > .cards > .card{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;

  z-index: 5000;
  position: relative;
  transition: .4s ease-in-out;
}

.process > .info > .cards > .card > .close {
  position: absolute;
  top: 0;
  right: -3rem;

  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #009a3e;
  text-align: center;
  /* background-color: #fff; */
  background-image: url('/images/Cross-Green.png');

  cursor: pointer;
  transition: .4s ease-in-out;
}

.process > .info > .cards > .card > .close:hover{
  background-image: url('/images/Cross-Red.png');

}

.process > .info > .cards > .card > .close:hover {
  background-color: #c3271a;
  color: #fff;
}

.process > .info > .cards > .card > .section {
  display: flex;
  flex-direction: row;

}

.process > .info > .cards > .card > .section > .image{
  width: 10rem;
  height: 10rem;
  flex-basis: 10rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
}



.process > .info > .cards > .card > .section > .info{
  flex-basis: calc(100% - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.process > .info > .cards > .card > .section > .info > .number{
  font-size: 1.25rem;
  width: 2.5rem;
  padding-left: 1rem;

  margin-bottom: 1.25rem;
}

.process > .info > .cards > .card > .section > .info > .content{
  font-size: .8rem;
}



/* Who can Apply? */
.who-can > .info {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.who-can > .info > .item {
  width: calc(50% - 1rem);
}

/* Are you Ready? */

.ready-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #eee;

  margin-bottom: 2rem;
}

.ready-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2rem 3rem;
  padding-bottom: 0;
}

.ready-banner > .banner > .title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 2rem;
}

.ready-banner > .banner > .description {
  font-weight: bold;
  margin-bottom: 1rem;
}

.ready-banner > .banner > .apply-now {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #009a3e;
  font-weight: bold;

  z-index: 1000;
}

/* Sponsors */
.sponsor {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor > .title {
  width: unset;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.sponsor > .content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 -2rem;

  margin-bottom: 5rem;
}

.sponsor > .content > .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor > .content > .section > .title {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  margin-bottom: 0.5rem;
}

.sponsor > .content > .section > .logos {
  display: flex;
  flex-direction: row;
}

.sponsor > .content > .section .logo {
  width: 3rem;
  height: 3rem;
}

.sponsor > .content > .section + .section {
  margin-left: 1rem;
}

.sponsor > .content > .section > .logos >.logo + .logo {
  margin-left: .5rem;
}

.sponsor > .follow {
  font-weight: bold;
  margin-bottom: 1rem;
}

.sponsor > .icons {
  display: flex;
  flex-direction: row;
}

.sponsor > .icons > .icon {
  width: 2rem;
  height: 2rem;
  /* background-color: #eee; */

  margin-right: 0.25rem;
}

.sponsor > .icons > .icon:hover{
  box-shadow: unset;
}

.sponsor > .content > .section .logo.CBRD {
  width: 8.5rem;
}

.sponsor > .content > .section .logo.smart {
  width: 4.5rem;
}


@media screen and (min-width: 768px) {
  /* About SmartStart */
  .slideshow-ctn{
    min-height: calc(100vh - 60px);
  }

  .slideshow > .about{
    min-height: calc(100vh - 60px);
  }

  .slide {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);

    padding: 0 10vw;
  }

  .slide > .info {
    flex-basis: 45%;
  }

  .slide > .info > .number {
    font-size: 10rem;

    margin-bottom: 2rem;
  }

  .slide > .info > .title {
    font-size: 2rem;
    padding: 1rem 2rem;

    margin-bottom: 3rem;
  }

  .slide > .image {
    flex-basis: 45%;

    height: 60vh;
  }

  /* What is at stake? */

  .flip {
    padding: 0 10vw;
    padding-bottom: 5vw;

    flex-direction: row;
    position: relative;
  }

  .flip > .head {
    flex-basis: 40%;
    padding: 2rem;

    margin-right: 2rem;
  }

  .flip > .head > .title {
    color: #009a3e;
    font-size: 2.5rem;

    margin-bottom: 2rem;
  }

  .flip > .head > .description {
    display: unset;
    color: #000;
    font-size: 1rem;
  }

  .flip > .info {
    flex-basis: 60%;
  }

  /* The Process */
  .process > .info > .cards {
    padding: 5vw 10vw;
  }

  .process > .info > .cards > .card {
    padding: 0;

    flex-direction: row;
    justify-content: center;
  }

  .process > .info > .cards > .card > .section{
    flex-direction: column;
    width: 35%;
  }

  .process > .info > .cards > .card > .section > .image{
    width: calc(100% + .5px);
    padding-bottom: 100%;

    margin: 0;
  }

  .process > .info > .cards > .card > .section > .info{
    padding: 2rem;
  }

  .process > .info > .cards > .card > .section > .info > .number{
    padding-left: 1.5rem;
  }

  /* Who can Apply? */

  /* Are you Ready? */
  .ready-banner {
    width: 80vw;
    margin: 0 10vw;
    margin-bottom: 5vw;
  }

  .ready-banner > .banner {
    width: 30%;
  }

  /* Sponsor */
  .sponsor {
    padding: 0 10vw;
    padding-bottom: 2rem;
  }

  .sponsor > .title {
    margin: 0;
    font-size: 1.5rem;

    margin-bottom: 5rem;
  }

  .sponsor > .content > .section > .title {
    font-size: 1rem;
  }

  .sponsor > .content > .section .logo {
    width: 6rem;
    height: 6rem;

  }

  .sponsor > .content > .section .logo.CBRD {
    width: 17rem;
  }

  .sponsor > .content > .section .logo.smart {
    width: 9rem;
  }
}
