.top5-banner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  background-position: 10vw;

  margin-bottom: 2rem;
}

.top5-banner > .banner {
  width: 50%;
  background: #009a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;

  padding: 2rem 4rem;
  padding-bottom: 0;
}

.top5-banner > .banner > .title {
  text-align: left;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.top5 {
  width: 100vw;
  /* height: calc(80vh - 180px - 5rem); */

  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.top5 > .title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.top5 > .title-section > .title {
  font-size: 2rem;
  color: #009a3e;
}

.top5 > .title-section > .buttons {
  display: flex;
  flex-direction: row;
}

.top5 > .title-section > .buttons > .cycle {
  width: 7rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  line-height: 2rem;
  border-radius: 1.5rem;
  border: 1px solid #009a3e;
  color: #009a3e;
  text-align: center;
  font-weight: bold;
  transition: 0.4s ease-in-out;

  margin-left: 0.5rem;
}

.top5 > .title-section > .buttons > .cycle.active {
  color: #fff;
  background-color: #009a3e;
}

.top5 > .winner-ctn {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.top5 > .winner-ctn > .winners {
  display: grid;
  grid-template-columns: 80% 80% 80% 80% 80%;
  grid-gap: 2rem;

  width: 100%;
  overflow: scroll;

  margin-bottom: 4rem;
}

.top5 > .winner-ctn > .winners > .winner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .winners > .winner > .logo {
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;

  transition: 0.4s ease-in-out;

  margin-bottom: 2rem;
}

.top5 > .winner-ctn > .winners > .winner > .name {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;

  margin-bottom: 2rem;
}

.top5 > .winner-ctn > .pictures {
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .pictures > .item {
  display: flex;
  flex-direction: column;
}

.top5 > .winner-ctn > .pictures > .item > .image {
  width: 100%;
  padding-bottom: 55%;
  background-color: #eee;

  margin-bottom: 1rem;
}

.top5 > .winner-ctn > .pictures > .item > .label {
  font-size: 1.5rem;

  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .top5-banner {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    background-position: 20vw;

    margin-bottom: 2rem;
  }

  .top5-banner > .banner {
    width: 35%;
    /* width: 50%; */
    background: #009a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;

    padding: 2rem 10vw;
    padding-bottom: 0;
  }

  .top5-banner > .banner > .title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .top5-banner > .banner > .title > .subtitle {
    font-size: 1rem;
    color: #000;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .top5 {
    /* height: calc(75vh - 120px - 5rem); */
    padding: 0 10vw;
    padding-bottom: 5vw;
  }

  .top5 > .winner-ctn > .winners {
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 2.5%;

    overflow: hidden;
  }
}
